.nav .logo img {
  width: auto;
  height: 45px;
}

.nav {
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.nav .nav-parent {
  display: inline-block;
}

.nav .nav-parent .nav-item {
  display: inline-block;
  margin-right: 40px;
}

.nav .nav-parent .nav-item a {
  color: white;
  text-decoration: none;
}

.nav .nav-parent .nav-item .btn {
  display: inline-block;
  font-weight: 700;
  border-width: 2px;
  border-color: white;
  border-radius: 40px;
  padding: 10px 22px;
  line-height: 20px;
  border-style: solid;
  font-size: 14px;
}

.nav .nav-parent .nav-item .btn-login {
  border-color: white;
  margin-right: 10px;
}

.nav .nav-parent .nav-item .btn-register {
  background-color: #ff7d2a;
  border-color: #ff7d2a;
}

.header {
  background-image: url("/assets/images/hero-img.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header .content {
  max-width: 560px;
  margin: 0 auto;
}

.header h1 {
  color: white;
  font-size: 46px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

.header p {
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 28px;
  max-width: 488px;
  margin: 0 auto;
}

.header .container {
  position: relative;
  min-height: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header .illustration-img {
  width: auto;
  height: 381px;
  position: absolute;
  bottom: 0;
}

.header .illustration-img.girl {
  left: 0;
}

.header .illustration-img.boy {
  right: 0;
}
